{% extends 'product_list.html' %}

{% block content %}
    <div class="container">
        <h1>Upload Product CSV or Excel</h1>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="file">Upload Product CSV or Excel:</label>
            <input type="file" name="file" id="file" required>

            <div class="button-group">
                <button type="submit" class="btn btn-custom">Import Products</button>
                <a href="{% url 'product-list' %}" class="btn btn-secondary">Return to Product List</a>
            </div>
        </form>
    </div>
{% endblock %}
